[Desktop Entry]
Name=Charm
Name[fr]=Charme
Name[gl]=Encanto
Name[uk]=Шарм
Name[x-test]=xxCharmxx
GenericName=Time Tracker
GenericName[de]=Zeiterfassung
GenericName[es]=Administrador de tiempo
GenericName[et]=Ajaarvestus
GenericName[fr]=Outil de suivi du temps
GenericName[gl]=Administrador do tempo
GenericName[ja]=タイムトラッカー
GenericName[nds]=Tietkieker
GenericName[pt]=Gestor de Tempo
GenericName[pt_BR]=Registro de tempo
GenericName[sv]=Tidmätning
GenericName[tr]=Zaman İzleyici
GenericName[uk]=Інструмент стеження за часом
GenericName[x-test]=xxTime Trackerxx
Exec=Charm
Icon=Charm-128x128
Type=Application
Categories=Qt;KDE;Office;
X-KDE-StartupNotify=true
