[Desktop Entry]
Name=Charm
Name[bg]=Charm
Name[de]=Charm
Name[el]=Charm
Name[en_GB]=Charm
Name[eo]=Charm
Name[es]=Charm
Name[et]=Charm
Name[fi]=Charm
Name[fr]=Charme
Name[gl]=Encanto
Name[ja]=Charm
Name[km]=Charm
Name[nds]=Charm
Name[pt]=Charm
Name[pt_BR]=Charm
Name[sv]=Charm
Name[tr]=Charm
Name[uk]=Шарм
Name[x-test]=xxCharmxx
GenericName=Time Tracker
GenericName[bg]=Замерване на време
GenericName[de]=Zeiterfassung
GenericName[el]=Καταγραφέας χρόνου
GenericName[en_GB]=Time Tracker
GenericName[es]=Administrador de tiempo
GenericName[et]=Ajaarvestus
GenericName[fi]=Ajanseuranta
GenericName[fr]=Outil de suivi du temps
GenericName[gl]=Administrador do tempo
GenericName[ja]=タイムトラッカー
GenericName[km]=កម្មវិធី​តាមដាន​ពេលវេលា
GenericName[nds]=Tietkieker
GenericName[pt]=Gestor de Tempo
GenericName[pt_BR]=Registro de tempo
GenericName[sv]=Tidmätning
GenericName[tr]=Zaman İzleyici
GenericName[uk]=Інструмент стеження за часом
GenericName[x-test]=xxTime Trackerxx
Exec=charmtimetracker
Icon=Charm-128x128
Type=Application
Categories=Qt;KDE;Utility;
X-KDE-StartupNotify=true
